<!doctype html>
<html>
	
	{% include 'head.html' %}
		
	<body>
		<div class="container">
  		{% include 'header.html' %}
  		<form>
  			<div class="form-group">
    			<label for="cmdInput">Command</label>
    			{% if cmd %}
    			<input type="text" class="form-control" id="cmdInput" name="cmd"
    			placeholder="{{cmd}}"/>
    			{% else %}
    			<input type="text" class="form-control" id="cmdInput" name="cmd"
    			placeholder="Enter command ..."/>
    			{% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      
      <div style="margin-top: 25px;">
      	{% if status %}
  			<div>
  				<table class="table">
  					<thead class="thead-dark"><tr><th scope="col">Result</th></tr></thead>
  					<tbody>
  					{% for line in lines %}
    					<tr><td>{{line}}</td></tr>
    				{% endfor %}
    				</tbody>
    			</table>
  			</div>
      	{% endif %}
				{% include 'status.html' %}	
      </div>
      {% include 'footer.html' %}
  	</div>
	</body>
</html>
